#information-form-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: auto;
  width: 80%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 700px;
}

#login-button, .clear-signature {
  margin: 5px;
  width: 260px;
}
#fName, #lName {
  margin: 0 auto;
}

.errorMessage {
  color: red;
}

#confirmation-checkboxes-container {
  padding: 5px;
  max-width: 580px;
}

.checkbox {
  padding: 5px;
  display: block;
  margin: auto;
}

mat-form-field {
  margin: 5px;
}

#signature-canvas {
  margin: 10px;
  width: 580px;
  height: 200px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.checkbox-label {
  max-width: 552px;
  white-space: normal;
}

.confirmation-button {
  margin: 10px;
}

#clear-signature-button, .confirmation-buttons {
  padding: 10px;
}
