<form>
  <div id="information-form-container" align="center">

    <h4>Permission Form</h4>

    <div id=fName-container>
      <mat-form-field>
        <input matInput placeholder="Enter your username" id="fName" type="text" [formControl]="fName" required #usernameInput>
        <p>{{value}}</p>
        <mat-error *ngIf="fName.hasError('required')">
          <span>First Name is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>
    </div>

    <div id=lName-container>
      <mat-form-field>
        <input matInput placeholder="Enter your password" id="lName" type="text" [formControl]="lName" required #passwordInput>
        <p>{{value}}</p>
        <mat-error *ngIf="lName.hasError('required')">
          <span>Last Name is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>
    </div>

    <div id="confirmation-checkboxes-container">
      <mat-checkbox name="contact" class="checkbox" [(ngModel)]="confirmContact" required>I confirm that I have spoken with a representative over the phone</mat-checkbox>
      <mat-checkbox name="information" class="checkbox" [(ngModel)]="confirmInformation" required>I confirm that I have provided accurate and up to date information</mat-checkbox>
      <mat-checkbox name="permission" class="checkbox" [(ngModel)]="confirmPermission" required>I give permission for my child to attend</mat-checkbox>
    </div>

    <div>

    </div>

    <button type="button" id="loginBtn" mat-raised-button color="primary" (click)="login(usernameInput.value,passwordInput.value)">Confirm</button>
  </div>
</form>
