#information-form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  width: 80%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-top: 60px;
}

#login-button, clear-signature {
  margin: 20px;
  width: 260px;
}
#fName, #lName {
  margin: 0 auto;
}

.errorMessage {
  color: red;
}

#confirmation-checkboxes-container {
  padding: 10px;
}

.checkbox {
  padding: 10px;
  display: block;
  margin: auto;
}

mat-form-field {
  margin: 10px;
}

#signature-canvas {
  margin: 20px;
  width: 600px;
  height: 200px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

